<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>luquanquan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FD70F89A6B3D316CBBDC165C4477B90700AD925C</string>
				<key>dateExpires</key>
				<string>2020/9/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FD70F89A6B3D316CBBDC165C4477B90700AD925C</string>
						<key>dateExpires</key>
						<string>2020/9/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PF4YZXS8TK</string>
						<key>name</key>
						<string>Yong Li</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PF4YZXS8TK.com.luquanquan.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PF4YZXS8TK</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PF4YZXS8TK.com.luquanquan.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>luquanquan.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>14eb17b8-a5ba-45a4-b10b-39cd0f17e885</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.luquanquan.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PF4YZXS8TK</string>
				<key>name</key>
				<string>Yong Li</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
